/* .search-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    border-bottom: solid gray 1px;
    margin-bottom: 20px;
} */

/* .search-bar-wrapper i {
    padding: 0 20px;
} */

/* .instagram {
    padding-left: 20px;
    font-family: 'Kaushan Script', cursive;
} */

/* .fa-instagram {
    border-right: black solid 1px;
} */

/* .search-bar-left {
    display: flex;
}

.search-bar-right {
    display: flex;
} */

/* .search-bar-wrapper input {
    width: 300px;
    padding: 5px 0;
    text-align: center;
} */