/* .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    height: 100vh;
    font-size: 5rem;
} */

/* .login-div {
    box-shadow: 0px 0px 40px 5px blue;
} */

/* .login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
} */

/* .login form input {
    padding: 10px 100px;
    margin: 10px;
    text-align: center;
    font-size: 1.5rem;
} */

/* .login form button {
    width: 50%;
    padding: 10px;
} */

/* .login form button:hover {
    font-size: 2rem;
    font-weight: bold;
    color: grey;
    background-color: blue;
    transition: ease-in-out .5s;
} */